@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>aboutUs</title>
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
</head>
<body>
    <div>
        <h1 style="font-family:Calibri ; text-align:center">About Us</h1> 
        <br />
        <center>
        <div>
    <!--    
        
        <div class="col-xs-3" style="margin-left:450px"> -->
       <p style="margin-left:400px; margin-right:400px">The intention of E-ELECTION is to prove the power of voter by not giving any chance for rigging or any manipulations at the time of elections.<br/> 
       In this fashion the complete information of the candidate will be furnished, 
       after going through the profiles of the candidate voting can be done online by providing the authentication details of the voter.
       So there is no scope of manipulation.
       After the election process gets completed results are announced automatically with the statistical reports.
</p>
            </center>
        <center>
        <div>
         <img src="~/Content/images/1.jpg" ; style ="height:50px ; width:50px"/>
            <img src="~/Content/images/2.jpg" ; style ="height:50px ; width:50px"/>
            <img src="~/Content/images/pak.jpg" ; style ="height:50px ; width:50px"/>
    </div>
            </center>
    <br /><br />
</body>
</html>
