@model e_pollingApp.Models.Voters

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>vote</title>
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>   

</head>

<body>
 
  @{
      string msg = Convert.ToString(TempData["message"] );
      string msg1 = Convert.ToString(TempData["message1"]);
     @msg;
      @msg1;
    <div class="container">
        <div class="row">
            <form role="form" method="post" action="/Poll/validateVoter">
                <div class="col-lg-6">
                    <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                    <div class="form-group">
                        <label for="InputName">Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="Name" placeholder="Enter Name" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputCnic">CNIC</label>

                        <div class="input-group">
                            <input type="text" class="form-control" name="CNIC" placeholder="Enter CNIC" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="InputCnic">AGE</label>

                        <div class="input-group">
                            <input type="date" class="form-control" id="datePicker" name="Age" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>

                    </div>



                    <div class="form-sex">
                        <label>Select Gender</label>
                        <br />
                        <input type="radio" name="sex" value="male" required />
                        Male
                        <br />
                        <br />
                        <input type="radio" name="sex" value="female" />
                        Female
                        <br />
                        <br />
                    </div>
                    <input type="submit" name="register" value="Register" class="btn btn-info pull-right">
                </div>
            </form>
        </div>
    </div>
  }
</body>
</html>
